
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
body{
	margin:10px;
}
.title{
	text-align: center;
	border:3px solid plum;
	border-radius: 25px 25px 0 0;
	padding:1%;
	margin-bottom: 0;
    text-shadow: 2px 2px 2px LightPink;
}
.nav_bar{
	border: 3px solid plum;
	transform: translate(0,-2px);
}
.nav li{
    display: inline-block;
    margin:0 10px;
    text-shadow: 2px 2px 2px LightPink;
}
.view{
	position: absolute;
	margin-right: 10px;
}
.view.ng-enter,
.view.ng-leave{
  transition:0.5s linear all;
}

.view.ng-enter{
	left:-100%;
	opacity: 0;
}
.view.ng-enter.ng-enter-active,
.view.ng-leave{
	left:0;
	opacity:1;
}
.view.ng-leave.ng-leave-active{
	left:100%;
  	opacity:0;
}
.content{
	display: block;

}
.article{
	border:3px solid MistyRose;
	padding:1%;
}
.aside{
	border:3px solid pink;
	padding:1%;
}
.todoList {
	font-family: fantasy;
}
.errorMsg{
	margin:auto;
	color:white;
	background-color: #ff4d4d;
	width: 50%;
	text-align: center;
	border-radius: 25px;
}
.loading{
	text-align: center;
}
@media screen and (min-width: 560px){
	.content{
		display: flex;
	}	
	.article{
		width: 60%;
	}
	.aside{
		width: 40%;
	}
	.nav li{
		font-size: 130%;
	}

}
.footer{
	border: 3px solid plum;
	border-radius: 0 0 25px 25px;
	text-align: center;
	padding:1%;
	background-color: white;
}

.fixBottom{
	position:fixed;
	bottom:0;
	left: 10px;
	right:10px;
}
.circle{
  border-radius: 50%;
  max-width:100%;
  max-height:100%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  border: 3px solid plum;
}

.limit{
  width:100vw;
  height:50vh;
  position:relative;
}
.fixAboutView{
	position: absolute;	
	width: 40vw;
	height: 30vh;
	border:3px solid PaleVioletRed;
	background-color: white;
	opacity: 0.7;
	padding:10px;
}
.upperRight{
	top: 0;
	right: 20px;
	font-size: 4vmin;
}
.bottomLeft{
	bottom: 0;
	left: 0;
	font-size: 3vmin;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
}
.viewborder{
	border:solid 3px PaleVioletRed;
	padding: 0 20px;
	margin-bottom: 45px;
}
.skillwrapper{
  background-color:skyblue;
  margin:10px;
  width:70px;
  height:70px;
  border-radius:50%;
  position:relative;
  display: inline-flex;
}
.skill{
  color:white;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
}
.skillwrapper.ng-enter,
.skillwrapper.ng-leave,
.skillwrapper.ng-move{
  transition:0.5s linear all;
}
.skillwrapper.ng-enter.ng-enter-active,
.skillwrapper.ng-leave,
.skillwrapper.ng-move.ng-move-active{
  opacity:1;
  width:50px;
  height:50px;
  transform:rotate(0);
}
.skillwrapper.ng-enter,
.skillwrapper.ng-leave.ng-leave-active,
.skillwrapper.ng-move{
  opacity:0;
  width:0px;
  height:0px;
  transform:rotate(90deg);
}