
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
body{
	margin:10px;
}
.title{
	text-align: center;
	border:3px solid plum;
	border-radius: 25px 25px 0 0;
	padding:1%;
	margin-bottom: 0;
}
.nav_bar{
	border: 3px solid plum;
	transform: translate(0,-2px);
}
.nav li{
    display: inline-block;
}
.content{
	display: flex;

}
.article{
	border:3px solid MistyRose;
	width: 80%;
}
.aside{
	border:3px solid pink;
	padding:1%;
	width: 20%;
}
.todoList {
	font-family: fantasy;

}
.footer{
	border: 3px solid plum;
	border-radius: 0 0 25px 25px;
	position:fixed;
	bottom:0;
	left: 10px;
	right:10px;
	text-align: center;
	padding:1%;
	background-color: white;
}




