
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
body{
	margin:10px;
}
.title{
	text-align: center;
	border:3px solid plum;
	border-radius: 25px 25px 0 0;
	padding:1%;
	margin-bottom: 0;
    text-shadow: 2px 2px 2px LightPink;
}
.nav_bar{
	border: 3px solid plum;
	transform: translate(0,-2px);
}
.nav li{
    display: inline-block;
    margin:0 10px;
    font-size: 130%;
    text-shadow: 2px 2px 2px LightPink;
}
.content{
	display: flex;

}
.article{
	border:3px solid MistyRose;
	padding:1%;
	width: 60%;
}
.aside{
	border:3px solid pink;
	padding:1%;
	width: 40%;
}
.todoList {
	font-family: fantasy;

}
.footer{
	border: 3px solid plum;
	border-radius: 0 0 25px 25px;
	position:fixed;
	bottom:0;
	left: 10px;
	right:10px;
	text-align: center;
	padding:1%;
	background-color: white;
}
.circle{
  border-radius: 50%;
  max-width:100%;
  max-height:100%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  border: 3px solid plum;
}

.limit{
  width:100vw;
  height:50vh;
  position:relative;
}
.inline{
	display: inline-block;
}